<div class="autoCharacter">
  <span class="character">
    {{yield}}
    <span class="face">
      {{this.emoji}}
    </span>
    {{#if @emotion}}
      <span class="emotion">
        {{@emotion}}
      </span>
    {{/if}}
  </span>
</div>
{{#if @say}}
  <p class="bubble autoBubble">
    {{@say}}
  </p>
{{/if}}
