<div>
  <div class="header">
    <h3 class="font-vt323 text-4xl">
      <span>
        {{@icon}}
      </span>
      {{@title}}
    </h3>
  </div>
  <div class="layout">
    {{yield}}
  </div>
</div>
