@tailwind base;
@tailwind components;
@tailwind utilities;
.layout {
  display: grid;
  grid-gap: 0.3em;
  grid-auto-flow: row;
  grid-template-columns: 16em 16em 16em;
  grid-template-rows: 3em 16em 1em;
  grid-template-areas:
    "header header header"
    "strip strip strip"
    "footer footer footer"
}
.header {
  grid-area: header;
  margin-bottom: 0;
  color: #000;
}
.header .title {
  font-weight: 400;
  font-family: 'VT323', cursive;
  text-align: left;
  font-size: 3em;
}
.signature {
  background-color: #fff;
  font-weight: 200;
  font-size: 0.7em;
  font-family: 'Delius';
  text-align: right;
  line-height: 1.5em;
  grid-area: signature / span 3;
}
.signature a {
  color: #666;
}
.box {
  composes: box from "../Themes/Box.module.css";
  align-self: stretch;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 45% 40%;
  grid-template-areas:
    "title title"
    "left-bubble right-bubble"
    "left-character right-character";
  align-items: stretch;
  align-content: end;
  min-height: 16em;
}
.box {
  background-image: radial-gradient(center center, ellipse farthest-corner, transparent 0%, transparent 10%, rgba(0, 0, 0, 0.8) 100%),
  linear-gradient(to bottom, #555 0%, #555 0.05em, transparent 0.05em, transparent 0.7em, #555 0.7em, #555 0.8em, transparent 0.8em, transparent 1.45em, #555 1.45em, #555 1.5em),
  linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),
  linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%),
  linear-gradient(to right, #555 0.05em, #555 0.05em, transparent 0.05em, transparent 0.7em, #555 0.7em, #555 0.8em, transparent 0.8em, transparent 1.45em, #555 1.45em, #555 1.5em),
  linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),
  linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%);
  background-image: -webkit-radial-gradient(center center,ellipse farthest-corner,transparent 0,transparent 10%,rgba(0,0,0,.8) 100%),-webkit-linear-gradient(top,#555,#555 .05em,transparent 0,transparent .7em,#555 0,#555 .8em,transparent 0,transparent 1.45em,#555 0,#555 1.5em),-webkit-linear-gradient( 45deg ,#ddd,#ddd 25%,transparent 0,transparent 75%,#eee 0,#eee),-webkit-linear-gradient( 45deg ,#eee,#eee 25%,transparent 0,transparent 75%,#ddd 0,#ddd),-webkit-linear-gradient(left,#555 .05em,#555 0,transparent 0,transparent .7em,#555 0,#555 .8em,transparent 0,transparent 1.45em,#555 0,#555 1.5em),-webkit-linear-gradient( 45deg ,#ddd,#ddd 25%,transparent 0,transparent 75%,#eee 0,#eee),-webkit-linear-gradient( 45deg ,#eee,#eee 25%,transparent 0,transparent 75%,#ddd 0,#ddd);
  background-position: 0 0,
                       0 0,
                       0.65em 0,
                       1.4em 0.75em,
                       0 0,
                       0 0,
                       0.75em 0.75em;
  background-size: 30.0em 15.0em,
                   1.5em 1.5em,
                   1.5em 1.5em,
                   1.5em 1.5em,
                   1.5em 1.5em,
                   1.5em 1.5em,
                   1.5em 1.5em;
  overflow: hidden;
  width: 16em;
  height: 16em;
  background-color: #fff;
  border: solid 5px black;
}
.sound {
  z-index: 30;
  left: 0;
  top: 1em;
  padding: .1em .5em;
  font-family: 'Delius';
  transform: rotate(-10deg);
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  position: absolute;
}
.emotion {
  font-size: 1.5em;
  position: absolute;
  bottom: 3em;
  left: 2.5em;
  z-index: 15;
  filter: drop-shadow(0.4em -0.4em 0.2em rgba(0,0,0,0.4)) drop-shadow(-0.1em 0.1em 0.1em rgba(0,0,0,0.7));
}
.bubble {
  margin: 0 .5em;
  padding: .5em .5em;
  font-family: 'Delius';
  font-size: 0.80em;
  line-height: 1.2;
  background-color: rgba(255,255,255,0.9);
  position: relative;
  border-width: .3em;
  border-style: solid;
  z-index: 20;
  border-color: #000;
}
.bubble:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 2em;
	width: 0;
	height: 0;
	border: 1.5em solid transparent;
	border-top-color: #000;
	border-bottom: 0;
	border-right: 0;
	margin-left: -1.5em;
	margin-bottom: -1.5em;
}
.leftBubble {
  grid-area: left-bubble;
}
.rightBubble {
  grid-area: right-bubble;
}
.doubleBubble {
  grid-row-start: left-bubble;
  grid-column-start: left-bubble;
  grid-row-end: right-bubble;
  grid-column-end: right-bubble;
}
.autoBubble {
  grid-row-start: 2;
}
.face {
  font-size: 6em;
  line-height: 0.8em;
  filter: grayscale(100%) drop-shadow(0.07em -0.07em 0.03em rgba(0, 0, 0, 0.4));
}
.leftCharacter {
  grid-area: left-character;
  align-self: end;
  justify-self: center;
  position: relative;
  z-index: 10;
}
.rightCharacter {
  grid-area: right-character;
  align-self: end;
  justify-self: center;
  position: relative;
  z-index: 10;
}
.autoCharacter {
  grid-row-start: 3;
  align-self: end;
  justify-self: center;
  position: relative;
  z-index: 10;
}
.lollipop {
  position: absolute;
  right: -.6em;
  bottom: 0.2em;
  font-size: 2em;
  transform: scaleX(-1) rotate(15deg);
}
