@tailwind base;
@tailwind components;
@tailwind utilities;
.box {
  background-image: radial-gradient(center center, ellipse farthest-corner, transparent 0%, transparent 10%, rgba(0, 0, 0, 0.8) 100%),
  linear-gradient(to bottom, #555 0%, #555 0.05em, transparent 0.05em, transparent 0.7em, #555 0.7em, #555 0.8em, transparent 0.8em, transparent 1.45em, #555 1.45em, #555 1.5em),
  linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),
  linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%),
  linear-gradient(to right, #555 0.05em, #555 0.05em, transparent 0.05em, transparent 0.7em, #555 0.7em, #555 0.8em, transparent 0.8em, transparent 1.45em, #555 1.45em, #555 1.5em),
  linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%),
  linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%);
  background-image: -webkit-radial-gradient(center center,ellipse farthest-corner,transparent 0,transparent 10%,rgba(0,0,0,.8) 100%),-webkit-linear-gradient(top,#555,#555 .05em,transparent 0,transparent .7em,#555 0,#555 .8em,transparent 0,transparent 1.45em,#555 0,#555 1.5em),-webkit-linear-gradient( 45deg ,#ddd,#ddd 25%,transparent 0,transparent 75%,#eee 0,#eee),-webkit-linear-gradient( 45deg ,#eee,#eee 25%,transparent 0,transparent 75%,#ddd 0,#ddd),-webkit-linear-gradient(left,#555 .05em,#555 0,transparent 0,transparent .7em,#555 0,#555 .8em,transparent 0,transparent 1.45em,#555 0,#555 1.5em),-webkit-linear-gradient( 45deg ,#ddd,#ddd 25%,transparent 0,transparent 75%,#eee 0,#eee),-webkit-linear-gradient( 45deg ,#eee,#eee 25%,transparent 0,transparent 75%,#ddd 0,#ddd);
  background-position: 0 0,
                       0 0,
                       0.65em 0,
                       1.4em 0.75em,
                       0 0,
                       0 0,
                       0.75em 0.75em;
  background-size: 30.0em 15.0em,
                   1.5em 1.5em,
                   1.5em 1.5em,
                   1.5em 1.5em,
                   1.5em 1.5em,
                   1.5em 1.5em,
                   1.5em 1.5em;
}
.sound {
  z-index: 30;
  left: 0;
  top: 1em;
  padding: .1em .5em;
  font-family: 'Delius';
  transform: rotate(-10deg);
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  position: absolute;
}
.lollipop {
  position: absolute;
  right: -.6em;
  bottom: 0.2em;
  font-size: 2em;
  transform: scaleX(-1) rotate(15deg);
}
.headbag {
  width: 4.7em;
  height: 3em;
  border: solid 3px #000;
  top: 1.8em;
  left: 0.8em;
  position: relative;
  z-index: 10;
  background-color: rgba(218, 185, 148, 1);
  border-color: rgba(155, 131, 101, 1);
  transform: rotate(190deg);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 10% 92% 5%/4% 95% 0% 95%;
  border-style: solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), inset 0 0 50 rgba(0, 0, 0, 0.2);
}
.sticker {
  font-family: 'Delius';
  font-size: 0.2em;
  margin: 3em 3em;
  padding: .5em 1em;
  background-color: #fff;
  height: 8em;
  overflow: clip;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), inset 0 0 50 rgba(0, 0, 0, 0.2);
}
