.wrapper {
  display: inline-block;
  position: relative;
}
.comic {
  background-color: #fff;
  padding: 1em;
  margin: 1em;
}
.zoomable {
}
.zoomed {
  font-size: 2.5em;
}
.favicon {
  margin-right: .5em;
}
.header {
  grid-area: header;
}
.header .title {
  font-weight: 400;
  font-family: 'VT323', cursive;
  text-align: left;
  font-size: 3em;
}
.web .header {
  margin-bottom: 0;
  color: #000;
}
.header_instagram {
  composes: box from "./Box.module.css";
  color: #fff;
  overflow: hidden;
  height: 16em;
  width: 16em; 
  border: solid 0.2em black;
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: 8em 8em;
  grid-template-columns: 8em 8em;
  grid-template-areas: 
    "title title"
    "character-left character-right";
  text-shadow: 0px 1px 0px #999, 0px 2px 0px #888, 0px 3px 0px #777, 0px 4px 0px #666, 0px 5px 0px #555, 0px 6px 0px #444, 0px 7px 0px #333, 0px 8px 7px #001135;
}
.instagram {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: repeat(auto-fill, 16em);
  grid-template-columns: 16em;
  grid-gap: 0.3em;
  grid-template-areas: 
    "header"
    "strip"
    "strip"
    "strip"
    "footer"
}
.instagram .header .title {
  grid-area: title / span 2;
  font-size: 2em;
  padding: 0.5em;
  justify-self: center;
  align-self: center;
}
.instagram .header:after {
  content: '👨‍💻';
  grid-area: character-left;
  justify-self: center;
  align-self: end;
  font-size: 5em;
  line-height: 0.8em;
  filter: grayscale(100%) drop-shadow(0.07em -0.07em 0.03em rgba(0, 0, 0, 0.4));
}
.instagram .header:before {
  content: '👩‍💻';
  grid-area: character-right;
  justify-self: center;
  align-self: end;
  font-size: 5em;
  line-height: 0.8em;
  filter: grayscale(100%) drop-shadow(0.07em -0.07em 0.03em rgba(0, 0, 0, 0.4));
}
.web {
  display: grid;
  grid-gap: 0.3em;
  grid-auto-flow: row;
  grid-template-columns: 16em 16em 16em;
  grid-template-rows: 3em 16em 1em;
  grid-template-areas: 
    "header header header"
    "strip strip strip"
    "footer footer footer"
}
.signature {
  background-color: #fff;
  font-weight: 200;
  font-size: 0.7em;
  font-family: 'Delius';
}
.web .signature {
  text-align: right;
  line-height: 1.5em;
  grid-area: signature / span 3;
}
.signature a {
  color: #666;
}
