.box{
  composes: box from "../Themes/Box.module.css";
  overflow: hidden;
  width: 16em;
  height: 16em;
  background-color: #fff; 
  border: solid 0.3em black;
  align-self: stretch;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 45% 40%;
  grid-template-areas: 
    "title title"
    "left-bubble right-bubble"
    "left-character right-character";
  align-items: stretch;
  align-content: end;
  min-height: 16em;
}
