@import './styles/fonts.css';
.evenboxinner{
  transform: rotate(-2deg);
  padding: 0 .5em;
  margin: 0 .5em;
  background:#ddd;
  border:0.1em solid #222;
  box-shadow:3px 3px 0 #222;
  display: inline-block;
}
.sound {
  z-index: 30;
  left: 0;
  top: 1em;
  padding: .1em .5em;
  font-family: 'Delius';
  transform: rotate(-10deg);
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  position: absolute;
}
.emotion {
  font-size: 1.5em;
  position: absolute;
  bottom: 3em;
  left: 2.5em;
  z-index: 15;
  filter: drop-shadow(0.4em -0.4em 0.2em rgba(0,0,0,0.4)) drop-shadow(-0.1em 0.1em 0.1em rgba(0,0,0,0.7));
}
.bubble {
  margin: 0 .5em;
  padding: .5em .5em;
  font-family: 'Delius';
  font-size: 0.80em;
  line-height: 1.2;
  background-color: rgba(255,255,255,0.9);
  position: relative;
  border-width: .3em .4em .3em .5em;
  border-radius: 95% 4% 92% 5%/4% 95% 0% 95%;
  border-style: solid;
  z-index: 20;
}
.bubble:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 2em;
	width: 0;
	height: 0;
	border: 1.5em solid transparent;
	border-top-color: #000;
	border-bottom: 0;
	border-right: 0;
	margin-left: -1.5em;
	margin-bottom: -1.5em;
}
.bubble-left {
  grid-area: left-bubble;
}
.bubble-right {
  grid-area: right-bubble;
}
.bubble-double {
  grid-row-start: left-bubble;
  grid-column-start: left-bubble;
  grid-row-end: right-bubble;
  grid-column-end: right-bubble;
}
.bubble-auto {
  grid-row-start: 2;
}
.face {
  font-size: 6em;
  line-height: 0.8em;
  filter: grayscale(100%) drop-shadow(0.07em -0.07em 0.03em rgba(0, 0, 0, 0.4));
}
.character-left {
  grid-area: left-character;
  align-self: end;
  justify-self: center;
  position: relative;
  z-index: 10;
}
.character-right {
  grid-area: right-character;
  align-self: end;
  justify-self: center;
  position: relative;
  z-index: 10;
}
.character-auto {
  grid-row-start: 3;
  align-self: end;
  justify-self: center;
  position: relative;
  z-index: 10;
}
.small-comics {
  font-size: 11px;
}
.head-bag {
  width: 4.7em;
  height: 3em;
  border: solid 3px #000;
  top: 1.8em;
  left: 0.8em;
  position: relative;
  z-index: 10;
  background-color: rgba(218, 185, 148, 1);
  border-color: rgba(155, 131, 101, 1);
  transform: rotate(190deg);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 10% 92% 5%/4% 95% 0% 95%;
  border-style: solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), inset 0 0 50 rgba(0, 0, 0, 0.2);
}
.head-bag .sticker {
  font-family: 'Delius';
  font-size: 0.2em;
  margin: 3em 3em;
  padding: .5em 1em;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), inset 0 0 50 rgba(0, 0, 0, 0.2);
}
.painting:after {
  content: '🖼';
  z-index: 1;
  font-size: 5em;
  top: 1em;
  left: 1em;
  position: relative;
  transform: rotate(-5deg);
  filter: grayscale(100%) drop-shadow(0.07em 0.07em 0.01em rgba(0, 0, 0, 0.3));
}
