@font-face {
  font-family: 'Bangers';
  font-style: normal;
  font-weight: 400;
  src: local('Bangers Regular'), local('Bangers-Regular'), url(https://fonts.gstatic.com/s/bangers/v10/FeVQS0BTqb0h60ACH55Q2J5hm24.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
  font-family: 'Delius';
  font-style: normal;
  font-weight: 400;
  src: local('Delius-Regular'), url(https://fonts.gstatic.com/s/delius/v7/PN_xRfK0pW_9e1rdZsg_rz7b_g.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
body {
  color: #000;
}
h2.issue-title {
  margin-bottom: 0;
  grid-area: title;
  font-weight: 400;
  font-family: 'Bangers', cursive;
  text-align: left;
  font-size: 2em;
  background-color: #fff;
}
.download {
  position: relative;
  top: -17em;
  left: -1em;
}
.comic {
  display: inline-block;
  background-color: #fff;
  padding: 1em;
  max-width: 50.6em;
  width: 100%;
}
.comic.zoom {
  font-size: 3em;
}
.comic.zoom .issue-title, .comic.zoom .signature {
  max-width: 800px;
}
.strip {
  display: grid;
  grid-area: strip;
  grid-template-columns: repeat(auto-fill, 16em);
  grid-template-rows: 16em;
  grid-gap: 0.3em;
  align-items: start;
}
.box{
  overflow: hidden;
  width: 16em;
  height: 16em;
  background-color: #fff; 
  border: solid black;
  border-color: black;
  align-self: stretch;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 15% 45% 40%;
  grid-template-areas: 
    "title title"
    "left-bubble right-bubble"
    "left-character right-character";
  align-items: stretch;
  align-content: end;
  min-height: 16em;
}
.strip .box:nth-of-type(1) { 
  border-width: .3em .4em .3em .5em;
  border-radius: 95% 4% 92% 5%/4% 95% 0% 95%;
}
.strip .box:nth-of-type(2) { 
  border-width: .3em .3em .5em .5em;
  border-radius:4% 95% 6% 95%/95% 0% 96% 0%;
}
.strip .box:nth-of-type(3) { 
  border-width: 0.5em 0.3em 0.3em 0.5em;
  border-radius:95% 4% 97% 5%/4% 94% 0% 95%;
}
.strip-title {
  grid-area: title / title;
  align-self: center;
  font-weight: 400;
  justify-self: start;
}
.evenboxinner{
  transform: rotate(-2deg);
  padding: 0 .5em;
  margin: 0 .5em;
  background:#ddd;
  border:0.1em solid #222;
  box-shadow:3px 3px 0 #222;
  display: inline-block;
}
.sound {
  z-index: 30;
  left: 0;
  top: 1em;
  padding: .1em .5em;
  font-family: 'Delius';
  transform: rotate(-10deg);
  background-color: rgba(255, 255, 255, 0.7);
  display: inline-block;
  position: absolute;
}
.emotion {
  font-size: 1.5em;
  position: absolute;
  bottom: 3em;
  left: 2.5em;
  z-index: 15;
  filter: drop-shadow(0.4em -0.4em 0.2em rgba(0,0,0,0.4)) drop-shadow(-0.1em 0.1em 0.1em rgba(0,0,0,0.7));
}
.bubble {
  margin: 0 .5em;
  padding: .5em .5em;
  font-family: 'Delius';
  font-size: 0.80em;
  line-height: 1.2;
  background-color: rgba(255,255,255,0.9);
  position: relative;
  border-width: .3em .4em .3em .5em;
  border-radius: 95% 4% 92% 5%/4% 95% 0% 95%;
  border-style: solid;
  z-index: 20;
}
.bubble:after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 2em;
	width: 0;
	height: 0;
	border: 1.5em solid transparent;
	border-top-color: #000;
	border-bottom: 0;
	border-right: 0;
	margin-left: -1.5em;
	margin-bottom: -1.5em;
}
.bubble-left {
  grid-area: left-bubble;
}
.bubble-right {
  grid-area: right-bubble;
}
.bubble-double {
  grid-row-start: left-bubble;
  grid-column-start: left-bubble;
  grid-row-end: right-bubble;
  grid-column-end: right-bubble;
}
.bubble-auto {
  grid-row-start: 2;
}
.face {
  font-size: 6em;
  line-height: 0.8em;
  filter: grayscale(100%) drop-shadow(0.07em -0.07em 0.03em rgba(0, 0, 0, 0.4));
}
.character-left {
  grid-area: left-character;
  align-self: end;
  justify-self: center;
  position: relative;
  z-index: 10;
}
.character-right {
  grid-area: right-character;
  align-self: end;
  justify-self: center;
  position: relative;
  z-index: 10;
}
.character-auto {
  grid-row-start: 3;
  align-self: end;
  justify-self: center;
  position: relative;
  z-index: 10;
}
.lollipop {
  position: absolute;
  right: -.6em;
  bottom: -0.2em;
  font-size: 2em;
  transform: scaleX(-1) rotate(15deg);
}
.signature {
  background-color: #fff;
  grid-area: signature;
  font-weight: 200;
  font-size: 0.7em;
  text-align: right;
  font-family: 'Delius';
  line-height: 1.5em;
}
.signature a {
  color: #666;
}
.head-bag {
  width: 4.7em;
  height: 3em;
  border: solid 3px #000;
  top: 1.8em;
  left: 0.8em;
  position: relative;
  z-index: 10;
  background-color: rgba(218, 185, 148, 1);
  border-color: rgba(155, 131, 101, 1);
  transform: rotate(190deg);
  border-width: 3px 4px 3px 5px;
  border-radius: 95% 10% 92% 5%/4% 95% 0% 95%;
  border-style: solid;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), inset 0 0 50 rgba(0, 0, 0, 0.2);
}
.head-bag .sticker {
  font-family: 'Delius';
  font-size: 0.2em;
  margin: 3em 3em;
  padding: .5em 1em;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4), inset 0 0 50 rgba(0, 0, 0, 0.2);
}
.painting:after {
  content: '🖼';
  z-index: 1;
  font-size: 5em;
  top: 1em;
  left: 1em;
  position: relative;
  transform: rotate(-5deg);
  filter: grayscale(100%) drop-shadow(0.07em 0.07em 0.01em rgba(0, 0, 0, 0.3));
}
.box {
  background-image: -webkit-radial-gradient(center center, ellipse farthest-corner, transparent 0%, transparent 10%, rgba(0,0,0,0.8) 100%), -webkit-linear-gradient(top, #555 0%, #555 0.1em, transparent 0.1em, transparent 0.93em, #555 0.93em, #555 1.1em, transparent 1.1em, transparent 2em, #555 2em, #555 2.14em), -webkit-linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), -webkit-linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%), -webkit-linear-gradient(left, #555 0, #555 0.1em, transparent 0.1em, transparent 0.93em, #555 0.93em, #555 1.1em, transparent 1.1em, transparent 2em, #555 2em, #555 2.14em), -webkit-linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), -webkit-linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%);
  background-image: -moz-radial-gradient(center center, ellipse farthest-corner, transparent 0%, transparent 10%, rgba(0,0,0,0.8) 100%), -moz-linear-gradient(top, #555 0%, #555 0.1em, transparent 0.1em, transparent 0.93em, #555 0.93em, #555 1.1em, transparent 1.1em, transparent 2em, #555 2em, #555 2.14em), -moz-linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), -moz-linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%), -moz-linear-gradient(left, #555 0, #555 0.1em, transparent 0.1em, transparent 0.93em, #555 0.93em, #555 1.1em, transparent 1.1em, transparent 2em, #555 2em, #555 2.14em), -moz-linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), -moz-linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%);
  background-image: -ms-radial-gradient(center center, ellipse farthest-corner, transparent 0%, transparent 10%, rgba(0,0,0,0.8) 100%), -ms-linear-gradient(top, #555 0%, #555 0.1em, transparent 0.1em, transparent 0.93em, #555 0.93em, #555 1.1em, transparent 1.1em, transparent 2em, #555 2em, #555 2.14em), -ms-linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), -ms-linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%), -ms-linear-gradient(left, #555 0, #555 0.1em, transparent 0.1em, transparent 0.93em, #555 0.93em, #555 1.1em, transparent 1.1em, transparent 2em, #555 2em, #555 2.14em), -ms-linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), -ms-linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%);
  background-image: -o-radial-gradient(center center, ellipse farthest-corner, transparent 0%, transparent 10%, rgba(0,0,0,0.8) 100%), -o-linear-gradient(top, #555 0%, #555 0.1em, transparent 0.1em, transparent 0.93em, #555 0.93em, #555 1.1em, transparent 1.1em, transparent 2em, #555 2em, #555 2.14em), -o-linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), -o-linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%), -o-linear-gradient(left, #555 0, #555 0.1em, transparent 0.1em, transparent 0.93em, #555 0.93em, #555 1.1em, transparent 1.1em, transparent 2em, #555 2em, #555 2.14em), -o-linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), -o-linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%);
  background-image: radial-gradient(center center, ellipse farthest-corner, transparent 0%, transparent 10%, rgba(0,0,0,0.8) 100%), linear-gradient(top, #555 0%, #555 0.1em, transparent 0.1em, transparent 0.93em, #555 0.93em, #555 1.1em, transparent 1.1em, transparent 2em, #555 2em, #555 2.14em), linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%), linear-gradient(left, #555 0, #555 0.1em, transparent 0.1em, transparent 0.93em, #555 0.93em, #555 1.1em, transparent 1.1em, transparent 2em, #555 2em, #555 2.14em), linear-gradient(45deg, #ddd 0%, #ddd 25%, transparent 25%, transparent 75%, #eee 75%, #eee 100%), linear-gradient(45deg, #eee 0%, #eee 25%, transparent 25%, transparent 75%, #ddd 75%, #ddd 100%);
  background-position: 0 0, 0 0, 0.93em 0, 2em 1.07em, 0 0, 0 0, 1.07em 1.07em;
  background-size: 42.8em 21.4em, 2.14em 2.14em, 2.14em 2.14em, 2.14em 2.14em, 2.14em 2.14em, 2.14em 2.14em, 2.14em 2.14em;
  background-repeat: repeat;
}
.zoomable {
  transition: font-size 1s;
}
