<div class="pb-5 border-b border-gray-200">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    {{t "Statically rendered"}}
  </h3>
</div>
<Issues::01ItWillBeFun />
<Issues::02CoffeeAddict />
<Issues::03Effectivity />
<Issues::04BalanceOfMoney />
<Issues::14LongDays />
<div class="pb-5 border-b border-gray-200">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    {{t "Dynamically rendered"}}
  </h3>
</div>
<this.myComponent.component />
