<div class="pb-5 border-b border-gray-200">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    {{t "Statically rendered"}}
  </h3>
</div>
<Issues::01ItWillBeFun />
<Issues::02CoffeeAddict />
<Issues::03Effectivity />
<Issues::04BalanceOfMoney />
<Issues::05Titles />
<Issues::06NoCode />
<Issues::07Tickeeets />
<Issues::08Treasure />
<Issues::09FailingTests />
<Issues::10Optimisation />
<Issues::11Strategy />
<Issues::12BsJob />
<Issues::13Conversions />
<Issues::14LongDays />
<Issues::15L10nIsHard />
<Issues::16SurvivalStrategy />
<Issues::17PredictableSales />
<Issues::18AfterMicromanagement />
<Issues::19Tests />
<Issues::20AssertMessages />
<Issues::21Decisions />
<div class="pb-5 border-b border-gray-200">
  <h3 class="text-lg leading-6 font-medium text-gray-900">
    {{t "Dynamically rendered"}}
  </h3>
</div>
<this.myComponent.component />
